* {
  font-family: Verdana, Ariel, sans-serif;
  line-height: 1.5;
}
Body {
  background-color: #80061c;
  margin: 0px;
  text-align: center;
}
header {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  border-style: double;
  border-color: #000000;
}
nav {
  width: 1000px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
nav li {
  display: inline;
  list-style-type: none;
  background: #80061c;
  padding: 20px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-color: #000000;
}
nav a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
nav a:hover {
  color: #989898;
}
#container {
  background: #ffffff;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
footer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: center;
  background-color: #000000;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  color: #ffffff;
}
form {
  width: 250px;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #80061c;
  padding: 32px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  border-color: #000000;
  border-style: double;
  align-content: center;
}
label {
  display: block;
  width: 100%;
  font-weight: bold;
  size: 16px;
  border-radius: 4px;
  border-color: #000000;
  padding: 5px;
}
input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  size: 16px;
  margin-bottom: 24px;
  border-radius: 4px;
  border-style: 2 px inset;
  border-color: #000000;
}
main {
  padding: 32px;
}
h3 {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 32px;
}
p {
  text-align: center;
}
#box {
  text-align: center;
  padding: 40px;
}
.flex-container {
  display: flex;
  align-content: center;
}
.flex1 {
  flex: 1;
  text-align: center;
  padding: 75px;
}
.flex2 {
  margin-right: 20px;
}
.flex3 {
  flex: 1;
  text-align: center;
  padding: 75px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.flex4 {
  justify-content: center;
  width: 50%;
  padding: 100px;
}
